# question 1

In [1]:
 # library 1

In [2]:
# pandas.Dataframe :-

import pandas as pd

data={
    'name':['Aayu','nandu','attri','sharma'],
    'Age':[12,13,14,15],
    'occuption':['engineer','airshster','Doctor','webdeveloper']
}

df = pd.DataFrame(data)
print(df)

     name  Age     occuption
0    Aayu   12      engineer
1   nandu   13     airshster
2   attri   14        Doctor
3  sharma   15  webdeveloper

In [3]:
# 2. pandas,Series():-

import pandas as pd
data = [10,20,30,40]
series = pd.Series(data)
print(series)

0    10
1    20
2    30
3    40
dtype: int64

In [4]:
# pandas.read_csv():-
import pandas as pd


df = pd.read_csv('data.csv')

print(df)

   name         email_id     phn_no
0   aayu  aayu@gamil.com    7865432
1  nandu  aayu@gmail.com  654223445

In [5]:
# pandas.DataFrame.head():-
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
        'Age': [25, 30, 35, 40, 45],
        'Occupation': ['Engineer', 'Doctor', 'Teacher', 'Lawyer', 'Nurse']}
df = pd.DataFrame(data)


print(df.head(3))

      Name  Age Occupation
0    Alice   25   Engineer
1      Bob   30     Doctor
2  Charlie   35    Teacher

In [6]:
# pandas.DataFrame.tail():-
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
        'Age': [25, 30, 35, 40, 45],
        'Occupation': ['Engineer', 'Doctor', 'Teacher', 'Lawyer', 'Nurse']}
df = pd.DataFrame(data)


print(df.tail(3))

      Name  Age Occupation
2  Charlie   35    Teacher
3    David   40     Lawyer
4      Eva   45      Nurse

In [7]:
# pandas.DataFrame.groupby():-
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
        'Age': [25, 30, 35, 40, 45],
        'Occupation': ['Engineer', 'Doctor', 'Teacher', 'Lawyer', 'Nurse']}
df = pd.DataFrame(data)

grouped_df = df.groupby('Occupation')['Age'].mean()

print(grouped_df)

Occupation
Doctor      30.0
Engineer    25.0
Lawyer      40.0
Nurse       45.0
Teacher     35.0
Name: Age, dtype: float64

# question 2

In [8]:
import pandas as pd

def reindex_with_increment(df):
 
    df_reset = df.reset_index(drop=True)
    
  
    new_index = pd.RangeIndex(start=1, stop=2*len(df_reset), step=2)
    

    df_reset.index = new_index
    
    return df_reset

# 
new_df = reindex_with_increment(df)
print(new_df)

      Name  Age Occupation
1    Alice   25   Engineer
3      Bob   30     Doctor
5  Charlie   35    Teacher
7    David   40     Lawyer
9      Eva   45      Nurse

# question 3

In [9]:
#import pandas as pd

#def calculate_sum_of_first_three_values(df):
    #values_column = df['Values']

  
  #  sum_of_first_three_values = sum(values_column[:3])


    #print("Sum of the first three values:", sum_of_first_three_values)


#calculate_sum_of_first_three_values(df)

KeyError: 'Values'

# question 4

In [10]:
import pandas as pd

def add_word_count_column(df):
    
    word_counts = df['Text'].apply(lambda text: len(text.split()))

    df['Word_Count'] = word_counts

    return df


df = pd.DataFrame({'Text': ['This is a sample text.', 'Another example of text data.', 'Python pandas DataFrame.']})
df_with_word_count = add_word_count_column(df)
print(df_with_word_count)

                            Text  Word_Count
0         This is a sample text.           5
1  Another example of text data.           5
2       Python pandas DataFrame.           3

# question 5

In [11]:
# dataframe size:-
import pandas as pd

data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)
print(df.size)

6

In [12]:
# dataframe shape
import pandas as pd

data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)
print(df.shape)

(3, 2)

# question 6

In [14]:
#import pandas as pd


#df = pd.read_excel('file_path.xlsx')

# question 7

In [17]:
import pandas as pd

def username(df):

    df['Username'] = df['Email'].str.split('@').str[0]

    return df


df = pd.DataFrame({'Email': ['nandu@example.com', 'attri@test.com', 'aayu@gmail.com']})
df_with_username = username(df)
print(df_with_username)

               Email Username
0  nandu@example.com    nandu
1     attri@test.com    attri
2     aayu@gmail.com     aayu

# question 8

In [18]:
import pandas as pd

def filter_dataframe(df):
   
    filtered_df = df[(df['A'] > 5) & (df['B'] < 10)]

    return filtered_df


df = pd.DataFrame({'A': [3,8,6,2,9],
                   'B': [5, 2, 9, 3, 1],
                   'C': [1, 7, 4, 5, 2]})

filtered_df = filter_dataframe(df)
print(filtered_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

# question 9

In [19]:
import pandas as pd

def calculate_statistics(df):
  
    mean_value = df['Values'].mean()
    median_value = df['Values'].median()
    std_value = df['Values'].std()

    return mean_value, median_value, std_value


df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})
mean, median, std = calculate_statistics(df)
print("Mean:", mean)
print("Median:", median)
print("Standard Deviation:", std)

Mean: 30.0
Median: 30.0
Standard Deviation: 15.811388300841896

# question 10

In [21]:
#import pandas as pd

#def calculate_moving_average(df):
    

   
    #df_sorted['MovingAverage'] = df_sorted['Sales'].rolling(window=7, min_periods=1).mean()

    #return df_sorted


#df = pd.DataFrame({
    #'Sales': [100, 150, 200, 180, 160, 120, 140, 170, 130, 190],
    #'Date': pd.date_range(start='2023-07-01', periods=10)
#})

#df_with_moving_average = calculate_moving_average(df)
#print(df_with_moving_average)

# question 11

In [22]:
import pandas as pd

def add_weekday_column(df):
 
    df['Date'] = pd.to_datetime(df['Date'])

   
    df['Weekday'] = df['Date'].dt.strftime('%A')

    return df


df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']})
df_with_weekday = add_weekday_column(df)
print(df_with_weekday)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

# question 12

In [24]:
import pandas as pd

def filter_by_date_range(df):
   
    df['Date'] = pd.to_datetime(df['Date'])

    
    start_date = pd.to_datetime('2023-01-01')
    end_date = pd.to_datetime('2023-01-31')
 
    filtered_df = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]

    return filtered_df


df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-15', '2023-02-10', '2023-01-25']})
df_with_date_range = filter_by_date_range(df)
print(df_with_date_range)

        Date
0 2023-01-01
1 2023-01-15
3 2023-01-25

# question 13

In [25]:
# To use the basic functions of Pandas, the first and foremost necessary library that needs to be imported is the Pandas library itself.

In [ ]:
# import pandas as pd